@if (ViewBag.TipoUser == "Administrador")
{
    <li class="hidden-xs"><i class="fa text-primary"></i><a href="#" class="text-uppercase">Panel administración</a></li>
    <li class="hidden-xs"><i class="fa text-primary"></i><a href="~/Usuario/Desconectarse" class="text-uppercase">Cerrar sesión</a></li>
}
else if (ViewBag.TipoUser == "Organizador")
{
    <li class="hidden-xs"><i class="fa text-primary"></i><a href="#" class="text-uppercase">Eventos actuales</a></li>
    <li class="hidden-xs"><i class="fa text-primary"></i><a href="#" class="text-uppercase">Eventos organizados</a></li>
    <li class="hidden-xs"><i class="fa text-primary"></i><a href="~/Usuario/Desconectarse" class="text-uppercase">Cerrar sesión</a></li>

}
else if (ViewBag.TipoUser == "Proveedor")
{
    <li class="hidden-xs"><i class="fa text-primary"></i><a href="~/Usuario/Servicios" class="text-uppercase">Mis Servicios</a></li>
    <li class="hidden-xs"><i class="fa text-primary"></i><a href="~/Usuario/Desconectarse" class="text-uppercase">Cerrar sesión</a></li>
}
else
{
    <li class="hidden-xs"><i class="fa fa-edit text-primary"></i> <a href="Usuario/RegistrarUsuarios" class="text-uppercase">Registrarse</a></li>
    <li class="hidden-xs"><i class="fa fa-sign-in text-primary"></i> <a href="Usuario/Login" class="text-uppercase">Ingresar</a></li>
}





