@model Brindar.Models.Usuarios

@{
    ViewBag.Title = "Crear Evento";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="container">

    <div class="panel-body">

        <iframe width="350"
                height="430"
                src="https://console.dialogflow.com/api-client/demo/embedded/908506d5-0b55-42f5-9d57-62aad409e6a8"></iframe>
    </div>

    <!-- Mensaje de validación -->
    <span class="text-center">@TempData["Validacion"]</span>
</div>    <!-- /container -->