@model Brindar.Models.Usuarios

@{
    ViewBag.Title = "Login";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="container">
    <div id="fb-root"></div>

<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=923343394498919';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    FB.api(
        "/me",
        function (response) {
            if (response && !response.error) {
                alert('holaa');
            }
        }
    );
</script>

    <div class="panel-body">
        <form action="/Usuario/Login" method="POST">
            <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <!-- CABECERA -->
                <h2 class="text-center">Iniciar Sesion</h2>

                <!-- INPUT EMAIL -->
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="Email" type="text" name="Email" class="form-control input-lg" placeholder="Email" />
                </div>

                <!-- INPUT CONTRASEÑA -->
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="Password" name="Password" type="password" class="form-control input-lg" placeholder="Contraseña" />
                </div>
                <br>
                <div class="row">
                    <span>
                        @if (TempData["Mensaje"] != "")
                        {
                            @TempData["Mensaje"];
                        }

                    </span>
                </div>
                <!-- BOTON INICIAR SESION -->
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="INGRESAR" />
                </div>
                <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div>
            </div>
        </form>
    </div>

    <!-- Mensaje de validación -->
    <span class="text-center">@TempData["Validacion"]</span>
</div>    <!-- /container -->