@model Brindar.Models.Servicios

@{
    ViewBag.Title = "Servicios";
    List<Brindar.Logica.Modelo.Servicios> servicios = ViewBag.servicios;
}

<h2>Servicios</h2>

<div class="row">
    <a class="btn btn-floating btn-large pulse right blue darken-2" href="/Usuario/AltaServicio"><i class="material-icons">add</i></a>
</div>
